name: build & push images weekly
on:
  schedule:
    - cron: 0 0 * * 0 # weekly

jobs:
  build_and_push_android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.android
          push: true
          build-args: |
            FLUTTER_CHANNEL=stable
          tags: |
            ghcr.io/${{ github.repository }}-android:latest

  build_and_push_web:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.web
          push: true
          build-args: |
            FLUTTER_CHANNEL=beta
          tags: |
            ghcr.io/${{ github.repository }}-web:latest
